body {
  font-size: 14px;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

/* ヘッダー */
header {
  height: 50px;
  background-color: #f0f0f0;
  padding: 10px 0;
display: flex;
}

.heading{
  width: 50%;
  margin-left: 30px;
}

.navbar{
  width: 50%;
  padding: 20px;
  
}

.nav-lists{
  display: flex;
  justify-content: space-around;
}

li{
  list-style: none;
}

.picture {
  display: flex;
  position: relative;
}

.picture h1{
  position: absolute;
  opacity: 0.7;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;
  font-weight: bold;
  font-size: 3.3rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.picture p{
  position: absolute;
  top: 70%;
  left: 20%;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;

}

.list-pict {
  margin-bottom: 20px;
  width: 33%;
  opacity: 0.4;
}

.liv-is {
  display: flex;
  
  position: relative;
  height: 500px;
  width: 100%;
}

.list-pic {
  height: 500px;
  width: 100%;
  opacity: 0.4;
}

.liv {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  opacity: 0.7;
}






/* first-viewクラスからbottom-contentクラスまでの要素の親要素 */
.contents {
    background-color:  white;
}

.first-view{
  height: 60vh;
}

.top-image {
  height: 100%;
  width: 100%;
}


/* フォーム */
.heading-name{
  color:blue;
  text-align: center;
}

.bottom-content {
  height: 800px;
  margin: 0 160px;
  display: flex;
justify-content: center;
align-items: center;
}

.small-field, .large-field {
  width: 800px;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #b5aaaa;
  display: block;
}

.small-field {
  margin: 0 auto 15px;
}

.large-field {
  height: 200px;
  margin: 0 auto 30px;
}

.send {
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid white;
  background-color: lightblue;
  color:white;
  display: block;
}

/* フッター */
footer {
  height: 50px;
  background-color: #f0f0f0;
  text-align: center;
color: gray;
}